{% extends "_templates/base.njk" %}

{% block content %}
<div class="container text-center">
  <h1>1960's - Abbey Road - The Beatles</h1>
 
  <img src="/img/abbey-road.jpg" alt="Animals - Pink Floyd" class="img-fluid mb-4">

   <p class="mb-4">It’s wild how one photo — just four guys crossing the street — became one of the most iconic album covers of all time. Abbey Road isn’t just a Beatles record, it’s a symbol, and the story behind it is just as cool as the music. The photo was taken by Iain Macmillan, a friend of John Lennon’s, who climbed a ladder in the middle of the road and had only about ten minutes to get the shot. No fancy setup, no crowd control — just a quick photoshoot that turned into history. What makes it even more legendary? The cover doesn’t even have the band's name on it. Art director John Kosh decided they didn’t need it.</p>

  <a href="https://open.spotify.com/album/0ETFjACtuP2ADo6LFhL6HN?si=sDENYYzSRWWbKSf0aXx0_g" target="_blank" class="btn btn-success mb-4">Listen on Spotify</a>
</div>
{% endblock %}
