{% extends "_templates/base.njk" %}

{% block content %}
<div class="container text-center">
  <h1>2010's - To Pimp a Butterfly - Kendrick Lamar</h1>
 
  <img src="/img/to-pimp.jpeg" alt="To Pimp a Butterfly - Kendrick Lamar" class="img-fluid mb-4">

   <p class="mb-4">The graphic design of To Pimp a Butterfly by Kendrick Lamar is a striking reflection of the album’s complex themes and revolutionary message. The cover, designed by Anna Wise, features an evocative image of Kendrick surrounded by a group of African-American men posing in front of the White House, with a surreal, almost cinematic quality to the scene. The bold, symbolic imagery captures the album’s exploration of race, identity, and the pressures of fame. The design's use of contrasting colors, intricate textures, and layered visuals invites the viewer into a world that is both grounded in reality and filled with dreamlike abstraction. It’s a perfect visual counterpart to an album that pushes the boundaries of both music and art.</p>

  <a href="https://open.spotify.com/album/7ycBtnsMtyVbbwTfJwRjSP?si=me2aVCtNR0ujuy1VU1S63w" target="_blank" class="btn btn-success mb-4">Listen on Spotify</a>
</div>
{% endblock %}
