{% extends "_templates/base.njk" %}

{% block content %}
<div class="container text-center">
  <h1>1970s - Animals - Pink Floyd</h1>
 
  <img src="/img/animals.jpg" alt="Animals - Pink Floyd" class="img-fluid mb-4">

   <p class="mb-4">While Abbey Road kept it simple and classic, Pink Floyd’s Animals went full-on conceptual. That floating pig above the London skyline? Totally real — well, almost. The band worked with longtime collaborator and design legend Storm Thorgerson (of the design group Hipgnosis) to create the now-famous image of a giant inflatable pig soaring between the towers of Battersea Power Station. The shoot didn’t go as planned — the pig broke free and actually floated into Heathrow Airport’s flight path, grounding planes and making headlines. But the chaos was worth it. The result was a moody, surreal cover that perfectly matched the album’s critique of society and capitalism. It’s gritty, industrial, and oddly beautiful — a perfect visual for the soundscape inside.</p>

  <a href="https://open.spotify.com/album/3b4E89rxzZQ9zkhgKpj8N4?si=LBXcXmpzQ5-9YVXBTyXLLQ" target="_blank" class="btn btn-success mb-4">Listen on Spotify</a>
</div>
{% endblock %}
