{% extends "_templates/base.njk" %}

{% block content %}
<div class="container text-center">
  <h1>1980's - Hot Space - Queen</h1>
 
  <img src="/img/hot-space.jpg" alt="Hot Space - Queen" class="img-fluid mb-4">

   <p class="mb-4">Then there’s Hot Space — Queen’s polarizing 1982 album that ditched the stadium rock for funk and disco vibes. But let’s talk about that cover. Four brightly colored squares, each featuring a stylized portrait of a band member in pop-art silhouette — it’s minimal, graphic, and pure 80s energy. The design was a massive departure from the band’s earlier, more regal or mythical imagery. It was created by Freddie Mercury’s friend and longtime Queen collaborator Richard Gray, who leaned into the era’s love for bold shapes and brash color. The cover mirrored the music’s risk-taking — unexpected, funky, and unapologetically modern. Some fans didn’t get it at the time, but it’s aged into a cult favorite, often referenced in design circles for its punchy simplicity and bold shift in aesthetic.</p>

  <a href="https://open.spotify.com/album/4IdoZg7qwE1VAfeqrBRuhC?si=Sj4mkoPVRCuWT5_6D2eDzQ" target="_blank" class="btn btn-success mb-4">Listen on Spotify</a>
</div>
{% endblock %}
