{% extends "_templates/base.njk" %}

{% block content %}
<div class="container text-center">
  <h1>1990's - Four-Calendar Cafe - Cocteau Twins</h1>
 
  <img src="/img/four-calendar-cafe.jpg" alt="Four Calendar Cafe - Cocteau Twins" class="img-fluid mb-4">

   <p class="mb-4">From the moment you see the cover of Four-Calendar Café, you know you’re stepping into something delicate and strange — just like the music inside. Released in 1993, this Cocteau Twins album marked a shift: it was their first on a major label, and the artwork reflected a more polished, surreal world. Designed by Paul West at v23 — the design studio closely linked with the 4AD label — the cover is a pastel dreamscape of abstract fruit and floral arrangements. It feels like a still from a dream or a moment of clarity in a foggy memory. There’s something oddly medical and sweet about it, like the album’s themes of healing, heartbreak, and emotional distance were translated into a visual language. It’s beautiful but off-kilter, and it lingers — just like Elizabeth Fraser’s vocals.
   This one’s a masterclass in how to do soft surrealism right — and a reminder that album art doesn’t have to shout to leave an impression.</p>

  <a href="https://open.spotify.com/album/4ZlAdQ5sx5I4HOjVV198FB?si=Re4hJ-19QKSQPO6ZgTeX-A" target="_blank" class="btn btn-success mb-4">Listen on Spotify</a>
</div>
{% endblock %}
