{% extends "_templates/base.njk" %}

{% block content %}
<div class="container text-center">
  <h1>2020's - BRAT - Charli XCX</h1>
 
  <img src="/img/brat.jpg" alt="Brat - Charli XCX" class="img-fluid mb-4">

   <p class="mb-4">BRAT by Charli XCX is a raw and rebellious exploration of self-expression and the complexities of modern identity. The artwork for this single features a bold and minimalist design that mirrors Charli’s experimental, genre-defying sound. The cover’s use of sharp lines, bright neon accents, and a digital aesthetic reflects the song's fast-paced, boundary-pushing energy. It's a visual representation of Charli's fearlessness and commitment to breaking norms in both music and style. The bold typography and glitchy, almost futuristic elements perfectly match the track's themes of empowerment, frustration, and liberation. It’s a visual statement that complements the song's anthem-like quality, speaking to the defiant spirit that has become a hallmark of Charli’s career.</p>

  <a href="https://open.spotify.com/album/2lIZef4lzdvZkiiCzvPKj7?si=tvpWQ-mXQKu_I_M10zST9A" target="_blank" class="btn btn-success mb-4">Listen on Spotify</a>
</div>
{% endblock %}
