{% extends "_templates/base.njk" %}

{% set title = "Graphics by Eras" %}

{% block content %}
<div class="container py-4">
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for album in eras %}
    <div class="col">
      <div class="card h-100">
        <img src="{{ album.image }}" class="card-img-top" alt="{{ album.album }}">
        <div class="card-body">
          <h5 class="card-title">{{ album.album }}</h5>
          <p class="card-text">{{ album.blurb }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}
