{% extends '_templates/base.njk' %}

{% block page_title %}Home Page{% endblock %}

{% block page_description %}The index search description for this page goes here.{% endblock %}

{% block content %}
<div class="container">
  <h1>Visions of Sound: Iconic Design in Music Culture</h1>
  <p>From the surreal imagery of Pink Floyd’s Animals to the timeless stroll of The Beatles’ Abbey Road, graphic design has long been a silent partner in shaping music’s visual legacy. This site explores the powerful intersection of sound and image — spotlighting legendary album covers, unforgettable tour flyers, and the designers behind the visuals that defined generations. Whether plastered on bedroom walls or flipped through in dusty vinyl crates, these designs don’t just promote music — they become part of it.</p>
  <h2>Explore Different Categories</h2>
  <p>This loops through data that came from a Google Docs example.</p>
  <div class="row">
    {% for book in library.books %}
      <div class="col">
        <img src="img/{{ book.slug }}.jpg" alt="" class="img-fluid">
        <h3><a href="books/{{ book.slug }}.html">{{ book.title }}</a></h3>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}