#jumbo {
    background: url(../img/music-photo-wall.jpeg) no-repeat center;
    background-size: cover;
    color: rgb(0, 145, 255);
    padding-top: 12rem
  }
  
  #jumbo {
    margin-bottom: 30px;
  }